@model ShoppingList.Models.ListItem

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>ListItem</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Description)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Description)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ShoppingList.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ShoppingList.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Done)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Done)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
